body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #8B6E4D;
}

header {
background-color: #8B6E4D;
padding: 20px;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

nav li {
display: inline;
margin-right: 10px;
}

nav a {
text-decoration: none;
color: #333;
}

nav a.active {
font-weight: bold;
}

main {
padding: 20px;
background-color: #FDF5E6;
}

h1,
h2,
h3,
h4 {color: #333;
}

footer {
background-color: #8B6E4D;
padding: 10px;
text-align: center;
height: auto;
padding: auto;
}

.next {
border-radius: 10px;
color: white;
background-color: #8B6E4D;
cursor: pointer;
font-size: 15px;
padding: 3px 5px;
align-items: center;
justify-items: center;
display: flex;
margin-right: 5px;
margin-left: 5px;
}

.butt {
align-items: center;
justify-content: center;
display: flex;
text-decoration: none;
}

.divbutt {
display: flex;
justify-content: center;
}

@media (max-width: 767px) {
}