body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #8B6E4D;
}

header {
background-color: #8B6E4D;
padding: 20px;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

nav li {
display: inline;
margin-right: 10px;
}

nav a {
text-decoration: none;
color: #333;
}

nav a.active {
font-weight: bold;
}

main {
padding: 20px;
background-color: #FDF5E6;
}

h1,
h2,
h3,
h4 {color: #333;
}

footer {
background-color: #8B6E4D;
padding: 10px;
text-align: center;
height: auto;
padding: auto;
}

@media (max-width: 767px) {
}